@font-face {
	font-family: 'GothaPro-black';
	src: url('../fonts/GothaProBlaIta.eot');
	src: local('☺'), url('../fonts/GothaProBlaIta.woff') format('woff'), url('../fonts/GothaProBlaIta.ttf') format('truetype'), url('../fonts/GothaProBlaIta.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GothaPro-lig';
	src: url('../fonts/GothaProLig.eot');
	src: local('☺'), url('../fonts/GothaProLig.woff') format('woff'), url('../fonts/GothaProLig.ttf') format('truetype'), url('../fonts/GothaProLig.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GothaProMed';
	src: url('../fonts/GothaProMed.eot');
	src: local('☺'), url('../fonts/GothaProMed.woff') format('woff'), url('../fonts/GothaProMed.ttf') format('truetype'), url('../fonts/GothaProMed.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}